<div  style="background-color: #fff; color: #333;margin-left: 100px;font-style: normal" >
<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
<tr>	
  <div class="field">
  <td><%= f.label :position_name %></td>
  <td><%= f.text_field :title %></td> 
  </div>
 </tr>
 <tr> 
  <div class="field">
  <td><%= f.label :description %></td> 
   <td><%= f.text_area :description %></td> 
  </div>
 </tr> 
<tr>
  <div class="field">
  <td><%= f.label :date_published %></td>
   <td><%= f.text_field :date_published %></td>
  </div>
 
</tr>  

  <tr>
  <div class="field">
  <td><%= f.label :last_date %></td>
   <td><%= f.text_field :last_date %></td>
  </div>
  
</tr>  
 <tr>
  <div class="field">
  <td><%= f.label :salary_range %></td>
   <td><%= select_tag "position[salary_range]",options_for_select(["10,000-30,000","40,000-70,000","75,000-100,000"])%></td>
  </div>
</tr>
 <div class="field" >
<tr>
 <td><%= f.label :skill_set %><br /></td>
  <td><%= select_tag 'position[skillset_ids][]',options_from_collection_for_select(@skillsets, :id, :name,@position.skillsets.collect{|skillset| skillset.id}),{ :multiple => true}%>

</td>
  
</div>
  </tr>
 <tr>
   <td><p><label for="position_qualification">Qualification:</label></td>
	<td><%= select_tag "position[qualification]",options_for_select(["Under Graguate","Post Graduate"]), {:multiple => true}%></p></td>
</tr> 	
<tr>
<td> <p><label for="position_experience">Experience:</label></td>
	<td><%= select_tag "position[experience]",options_for_select(["0-1","1-3","4-6","7-10"])%></p></td>
</tr>
<tr>
 <td><%= f.hidden_field :company_id, :value => @company.id %></td>
</tr>


</table>	

  <div class="actions">
  	<table>
   <th><%= f.submit :SAVE %></th>
    <th><%= f.submit :SAVEPUBLISH %></th>
   
 
   </table>
 
<% end %>
</div>
<script>
	$(function (){
 		$('#position_date_published').datepicker();
		$('#position_last_date').datepicker();
 	});

</script>
