<h1>Editing position</h1>

<div  style="background-color: #fff; color: #333;margin-left: 100px;font-style: normal" >
<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
<tr>	
  <div class="field">
  <td><%= f.label :position_name %></td>
  <td><%= f.text_field :title %></td> 
  </div>
 </tr>
 <tr> 
  <div class="field">
  <td><%= f.label :description %></td> 
   <td><%= f.text_area :description %></td> 
  </div>
 </tr> 
 <tr>
 <td><p><label for="position_status">Status:</label><br/></td>
 <td><%= select_tag "position[status]",options_for_select(["Open","Inprogress","Close"])%></p></td>
	</tr>
<tr>
  <div class="field">
  <td><%= f.label :date_published %></td>
   <td><%= f.text_field :date_published %></td>
  </div>
</tr>  
  <tr>
  <div class="field">
  <td><%= f.label :last_date %></td>
   <td><%= f.text_field :last_date %></td>
  </div>
</tr>  
 <tr>
  <div class="field">
  <td><%= f.label :salary_range %></td>
   <td><%= f.text_field :salary_range %></td>
  </div>
</tr>
 <tr>
  <div class="field">
  <td><%= f.label :skillset %></td>
<td><%= select_tag "position[skillset]",options_for_select(@skillsets), {:multiple => true}%></p></td>
</tr>
 <tr>
 <tr>
   <td><p><label for="position_qualification">Qualification:</label></td>
	<td><%= select_tag "position[qualification]",options_for_select(["Under Graguate","Post Graduate"]), {:multiple => true}%></p></td>
</tr> 	
<tr>
<td> <p><label for="position_experience">Experience:</label></td>
	<td><%= select_tag "position[experience]",options_for_select([">1","1-3","4-6","7-10"])%></p></td>
</tr>
</table>	
  <div class="actions">
  	<table>
   <th> <%= f.submit :UPDATE %></th>
   <th> <%= f.submit :PUBLISH %></th>
	</table>
  </div>
<% end %>
</div>
<script>
	$(function (){
 		$('#position_date_published').datepicker();
		$('#position_last_date').datepicker();
 	});

</script>

<%= link_to 'Show', @position %> |
<%= link_to 'Back', positions_path %>
