<h1>Listing positions</h1>

<table border=1>
  <tr>
    <th>Title</th> 
    <th>Status</th>
    <th>Location</th>
    <th>Last date</th>
    
    
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.title %></td>
    <td><%= position.status %></td>
    <td><%= position.location %></td>
    <td><%= position.last_date %></td>
	<td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %></td>	
    <% end %>
  </tr>

</table>

<br />

<!--%= link_to 'New Position', new_position_path %-->
