<div class="content_pane">
<h3><%= @position.title%></h3>

	<div class="label">
		<b>Position Title:</b>
	</div>
	<div class="value">
		<%= @position.title %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Description:</b>
	</div>
	<div class="value">
		<%= @position.description %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Date Published:</b>
	</div>
	<div class="value">
		<%= @position.date_published %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Last Date:</b>
	</div>
	<div class="value">
		<%= @position.last_date %>
	</div>
	<br clear="all">
    <div class="label">
		<b>Status:</b>
	</div>
	<div class="value">
		<%= @position.status %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Salary Range:</b>
	</div>
	<div class="value">
		<%=@position.salary_range %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Skillsets:</b>
	</div>
		<div class="value">
			<%= @position.skillsets.collect{|skillset| skillset.name }.join(', ') %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Qualification:</b>
		</div>
		<div class="value">
			<%= @position.qualification %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Experience:</b>
		</div>
		<div class="value">
			<%= @position.experience %>
		</div>
		<br clear="all">
	</div>

<%= link_to 'Back',"/companies/"+@position.company_id.to_s+"/welcome"%>
