<%= form_for(@skillset) do |f| %>
  <% if @skillset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skillset.errors.count, "error") %> prohibited this skillset from being saved:</h2>

      <ul>
      <% @skillset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <td><%= f.label :name%></td>
   <td><%= f.text_field :name %></td>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
