
<%if current_user.user_type == "Company"%>
<p>
  <b>Email:</b>
  <%= @email_setting.email %>
</p>

<%= link_to 'Edit', edit_company_email_setting_path(@company, @email_setting)%> |
<%= link_to 'Back', company_email_settings_url(@company) %>

<%elsif current_user.user_type == "Agency"%>

<p>
  <b>Email:</b>
  <%= @email_setting.email %>
</p>

<%= link_to 'Edit', edit_agency_email_setting_path(@agency, @email_setting)%> |
<%= link_to 'Back', agency_email_settings_url(@agency) %>

<%end%>
