<br clear="all" /><br clear="all" />
<% if @settings_needed ||  @password_needed %>
  <%= @message %>&nbsp;
  <%= link_to "Click here", agency_email_settings_path(@agency) %> to create email settings.
<% end %>

<h3>Listing Saved Resumes</h3>
<table class="gridtable">
	<thead>
		<th>From</th>
		<th>Date Received</th>
		<th>Resume File</th>
		<th></th>
	</thead>
	<% @emails.each do |email| %>

	<tr>
		<td><%= email.from %></td>
		<td><%= email.date_received %></td>
		<td><%= link_to_resume(email.resume_file, @agency.id.to_s, "email") %></td>
		<td><%= button_to 'Discard', [@agency, email], :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>

	<% end %>
</table>






