<h1>Welcome <%= @agency.name %></h1><br />
<br>



<%= link_to 'Company List',"/companies"%>

<%= link_to 'Edit your profile',"/agencies/"+@agency.id.to_s+"/edit"%>

<%= link_to 'List all Published position' ,"/published?id="+@agency.id.to_s%>
<%= link_to 'Create New Position',"/positions/new/"+@agency.id.to_s%>
