<%= form_for @contactinfo, :id => params[:id] do |f| %>
<% if @contactinfo.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@contactinfo.errors.count, "error") %> prohibited this candidate from being saved:</h2>

	<ul>
		<% @contactinfo.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= label :contactinfo, :address1 %>
<%= text_field :contactinfo, :address1 %>
<br clear="left">
<%= label :contactinfo, :address2 %>
<%= text_field :contactinfo, :address2 %>
<br clear="left">
<%= label :contactinfo, :address3 %>
<%= text_field :contactinfo, :address3 %>
<br clear="left">
<%= label :contactinfo, :state %></label>

<%= collection_select(:contactinfo, :state, @states, :id, :name,
{:prompt   => "Select a state"},
{:onchange => "#{remote_function(:url  => '/my_cities_list',:with => "'state_id='+value")}"}) %>
<br clear="left">
<%= label :contactinfo, :city %></label>
<div id="cities">
	<%= render :partial => 'cities',   :object => @cities %>
</div>
<br clear="left">

<%= label :contactinfo, :pin %>

<%= text_field :contactinfo, :zip %>
<br clear="left">
<%= label :contactinfo,:email %>

<%= text_field :contactinfo,:email %>
<br clear="left">
<%= label :contactinfo,:alternate_email %>

<%= text_field :contactinfo,:alternate_email %>
<br clear="left">
<%= label :contactinfo,:contact_number %>

<%= text_field :contactinfo,:contact_number %>
<div>
	<label></label>
	<%= f.submit "SAVE" %>
	<br clear="all" />
</div>