<html>
<head>
</head>
<body>

<h1>Listing candidates</h1>

<table class="gridtable">
  <tr>
     <th>Name</th>
    <th>Qualification</th>
    <th>Date of birth</th>
	<th>Address</th>
    <th>State</th>
	<th>Email</th>
	<th>Alternate Email</th>
	<th>Contact Number</th>
    <th>Experience</th>
    <th>Expected salary</th>
    <th>Skill set</th>
	
    <th></th>
    <th></th>
  </tr>
<% @candidates.each do |candidate|%>
  <tr>
    
    <td><%= link_to candidate.name,"/candidates/"+candidate.id.to_s+"/show" %></td>
    <td><%= candidate.qualification %></td>
    <td><%= candidate.date_of_birth %></td>
	<td><%= Contactinfo.find(candidate.contactinfos_id).address if candidate.contactinfos_id %></td>
    <td><%= State.find(Contactinfo.find(candidate.contactinfos_id).state).name%></td>
	<td><%= Contactinfo.find(candidate.contactinfos_id).email if candidate.contactinfos_id %></td>
	<td><%= Contactinfo.find(candidate.contactinfos_id).alternate_email if candidate.contactinfos_id %></td>
	<td><%= Contactinfo.find(candidate.contactinfos_id).contact_number if candidate.contactinfos_id %></td>
    <td><%= candidate.experience %></td>
    <td><%= candidate.expected_salary %></td>
    <td><%= candidate.skillsets.collect{|skillset| skillset.name }.join(', ') %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', "/destroy_candidates?id="+candidate.id.to_s+"", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
</html>