<div class="content_pane">
<%= link_to 'Back',"/candidates/"+@candidate.id.to_s+"/welcome"%>
<h4>Search for Jobs</h4>
<%= render :partial => "menu" %>
<%= form_tag :action => 'search', :method => 'get' do %>
<table class="gridtable">
	<tr>
		<td><%= label_tag :title%><%= text_field_tag :title%></td>
		<br>

		<td>
		<label for="position_experience">
			Experience:
		</label>
		<%= select_tag :experience,options_for_select(["","0-1","1-3","4-6","7-10"])%></p></td>
		<!--%= text_field_tag 'q1[]'%-->

		<td>
		<label for='position[skillset_ids][]'>
			Skillsets:
		</label>
		<%= select_tag :skillset_names,options_for_select(Skillset.all.collect{ |c| [c.name, c.id] }.insert(0, ''))%></td>

		<td>
		<label for="position_city">
			Location:
		</label>
		<%= select_tag :city,options_for_select(City.all.collect{ |c| [c.name, c.name] }.insert(0, ''))%></td>
		<td><%= submit_tag "Search"%></td>
	</tr>
</table>


<% end %>

<!--  <%= label_tag 'skillset'%>
<%= text_field_tag :search2, params[:search2] %>
<%= submit_tag "Search"%> -->

<% if @search.total > 0 %>

<% @search.each_hit_with_result do |hit, post| %>

</dt><%= link_to post.title,"/positions/"+post.id.to_s+"/show"%></dt>
<table class="gridtable">
	<tr>
		<td>Company:</td>
		<td><%= link_to post.company.name,"/companies/"+post.company.id.to_s+"/show"%></td>
	</tr>
	<tr>
		<td>Location:</td>
		<td><%= Contactinfo.find(post.company.contactinfos_id).city%></td>
	</tr>
	<tr>
		<td>Experience:</td>
		<td><%= post.experience%></td>
	</tr>
	<tr>
		<td>Skillsets:</td>
		<td><%= post.skillsets.collect{|skillset| skillset.name }.join(', ')%></td>

	</tr>

</table>
<% end %>

</dl>
<%else%>
<p>
	Record not found
</p>
<% end %>
</div>

