<br>
<table>
<th><%= link_to 'Search for jobs',"/candidates/"+@candidate.id.to_s+"/search"%></th>
<th><%= link_to 'Company List',"/companies"%></th>
<th><%= link_to 'Agencies List',"/agencies"%></th>
<th><%= link_to 'Edit your profile',"/candidates/"+@candidate.id.to_s+"/edit"%></th>
</table>
<div class="content_pane">

<h3><%= @candidate.name%></h3>

	<div class="label">
		<b>First name:</b>
	</div>
	<div class="value">
		<%= @candidate.first_name %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Last name:</b>
	</div>
	<div class="value">
		<%= @candidate.last_name %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Qualification:</b>
	</div>
	<div class="value">
		<%= @candidate.qualification %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Date of Birth:</b>
	</div>
	<div class="value">
		<%= @candidate.date_of_birth %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Address:</b>
	</div>
	<div class="value">
		<%= Contactinfo.find(@candidate.contactinfos_id).address if @candidate.contactinfos_id %>
	</div>
	<br clear="all">
   <div class="label">
		<b>State:</b>
	</div>
	<div class="value">
		<%= State.find(Contactinfo.find(@candidate.contactinfos_id).state).name%>
	</div>
	<br clear="all">
	<div class="label">
		<b>Email:</b>
	</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).email if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Alternate Email:</b>
		</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).alternate_email if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Contact Number:</b>
		</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).contact_number if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Experience:</b>
		</div>
		<div class="value">
			<%= @candidate.experience %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Expected salary:</b>
		</div>

		<div class="value">
			<%= @candidate.expected_salary %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Skill set:</b>
		</div>
		<div class="value">
			<%= @candidate.skillsets.collect{|skillset| skillset.name }.join(', ') %>


		</div>
		<br clear="all">
		<div class="label">
			<b>Resume</b>
		</div>
		<div class="value">
			<%= link_to_resume(@candidate.resume_filename, @candidate.id.to_s, "Candidate") if @candidate.resume_filename %>
		</div>
<br>
		
			
		</div>
	</div>
	
