<div class="content_pane">
<h3><%= @candidate.name%></h3>

	<div class="label">
		<b>First name:</b>
	</div>
	<div class="value">
		<%= @candidate.first_name %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Last name:</b>
	</div>
	<div class="value">
		<%= @candidate.last_name %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Qualification:</b>
	</div>
	<div class="value">
		<%= @candidate.qualification %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Date of Birth:</b>
	</div>
	<div class="value">
		<%= @candidate.date_of_birth %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Address:</b>
	</div>
	<div class="value">
		<%= Contactinfo.find(@candidate.contactinfos_id).address if @candidate.contactinfos_id %>
	</div>
	<br clear="all">
	<div class="label">
		<b>Email:</b>
	</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).email if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Alternate Email:</b>
		</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).alternate_email if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Contact Number:</b>
		</div>
		<div class="value">
			<%= Contactinfo.find(@candidate.contactinfos_id).contact_number if @candidate.contactinfos_id %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Experience:</b>
		</div>
		<div class="value">
			<%= @candidate.experience %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Expected salary:</b>
		</div>

		<div class="value">
			<%= @candidate.expected_salary %>
		</div>
		<br clear="all">
		<div class="label">
			<b>Skill set:</b>
		</div>
		<div class="value">
			<%= @candidate.skill_set %>
		</div>
		<br clear="all">
	</div>
	<%= link_to 'Edit', edit_candidate_path(@candidate) %>
	<%= link_to 'Back', candidates_path %>
