<div class="content_pane">
	<h4>Welcome <%= @candidate.name %></h4>
	<%= render :partial => 'menu' %>

	<br clear="all" />

	<%if @positions.empty?%>
	<p>
		No job positions to be listed
	</p>
	<%else%>
	<table class="gridtable">
		<tr>
			<th>Position Name:</th>
			<th>Company Name:</th>
			<th>Location:</th>
			<th>Experience:</th>
			<th>Skillsets:</th>
		</tr>
		<%end%>
		<% for position in @positions %>
		<tr>
			<td><%= link_to position.title,"/positions/"+position.id.to_s+"/show"  %></td>

			<td><%= link_to position.company.name,"/companies/"+position.company.id.to_s+"/show"%></td>

			<td><%= Contactinfo.find(position.company.contactinfos_id).city%></td>

			<td><%= position.experience%></td>

			<td><%= position.skillsets.collect{|skillset| skillset.name }.join(', ')%></td>

			<% end %>
		</tr>
	</table>

</div>
</dt>
</dl>