<div  style="background-color: #fff; color: #333;margin-left: 100px;font-style: normal" >
	
<%= form_for(@company) do |f| %>
  <% if @company.errors.any?  ||  @contactinfo.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count+@contactinfo.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @contactinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
  <div class="field">
   <td> <%= f.label :company_name %></td>
  <td>  <%= f.text_field :name %></td>
  </div>
  </tr>
 <tr>
  <div class="field">
   <td> <%= f.label :established_date %></td>
  <td>  <%= f.text_field :established_date %></td>
  </div>
  </tr>
  
  <tr>
  <div class="field">
   <td><%= label :contactinfo, :company_address %></td>
  <td>  <%= text_area :contactinfo, :address %></td>
  </div>
  </tr>
 <tr>
  <div class="field">
   <td> <%= f.label :website%></td>
  <td>  <%= f.text_field :website %></td>
  </div>
  </tr>
<tr>
  <div class="field">
   <td><%= label :contactinfo, :company_email%></td>
  <td>  <%= text_field :contactinfo, :email %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
   <td><%= label :contactinfo, :alternate_email%></td>
  <td>  <%= text_field :contactinfo, :alternate_email %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
   <td><%= label :contactinfo, :contact_number %></td>
  <td>  <%= text_field :contactinfo, :contact_number %></td>
  </div>
  </tr>
 <tr>
  <div class="field">
   <td> <%= f.label :company_profile %></td>
  <td>  <%= f.text_area :description %></td>
  </div>
  </tr>
  </table>
  <div class="actions" align="justify">
 <%= f.submit %>
  </div>
<% end %>
</div>
<script>
	$(function (){
 		$('#company_established_date').datepicker();
 	});

</script>