<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Business type</th>
    <th>Established date</th>
    <th>Employee count</th>
    <th>Website</th>
    <th>Desciption</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.business_type %></td>
    <td><%= company.established_date %></td>
    <td><%= company.employee_count %></td>
    <td><%= company.website %></td>
    <td><%= company.desciption %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
