<h1>Listing companies</h1>

<table border=1>
  <tr>
    <th>Company Name</th>
    <th>Established date</th>
	<th>Company Address</th>
    <th>Website</th>
	<th>Company Email</th>
	<th>Contact number</th>
    <th>Company Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name,"/companies/"+company.id.to_s+"/show" %></td>
    <td><%= company.established_date %></td> 
	<td><%= Contactinfo.find(company.contactinfos_id).address if company.contactinfos_id%></td>
    <td><%= company.website %></td>
	<td><%= Contactinfo.find(company.contactinfos_id).email if company.contactinfos_id%></td>
	<td><%= Contactinfo.find(company.contactinfos_id).contact_number if company.contactinfos_id%></td>
    <td><%= company.description %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
