<h3><%=@company.name%></h3>
<div  style="background-color: #fff; color: #333;margin-left: 100px;font-style: normal" >
	<dl>
		<dt><b>Name:</b></dt>
		<dd><%= @company.name %></dd>
		<dt><b>Established date:</b></dt>
		<dd><%= @company.established_date %></dd>

		<dt><b>Website:</b></dt>
		<dd><%= @company.website %></dd>

		<dt><b>Description:</b></dt>
		<dd><%= @company.description %></dd>
		<dt><b>Address:</b></dt>
		<dd><%= Contactinfo.find(@company.contactinfos_id).address if @company.contactinfos_id %></dd>

		<dt> <b>Email:</b></dt>
		<dd><%= Contactinfo.find(@company.contactinfos_id).email if @company.contactinfos_id %></dd>
		<dt> <b>Alternate Email:</b></dt>
		<dd><%= Contactinfo.find(@company.contactinfos_id).alternate_email if @company.contactinfos_id %></dd>
		<dt> <b>Contact Number:</b></dt>
		<dd><%= Contactinfo.find(@company.contactinfos_id).contact_number if @company.contactinfos_id %></dd>
</dl>

<br>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>