<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Business type:</b>
  <%= @company.business_type %>
</p>

<p>
  <b>Established date:</b>
  <%= @company.established_date %>
</p>

<p>
  <b>Employee count:</b>
  <%= @company.employee_count %>
</p>


<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Address:</b>
  <%= Contactinfo.find(@company.contactinfos_id).address if @company.contactinfos_id %>
</p>

<p>
  <b>Email:</b>
  <%= Contactinfo.find(@company.contactinfos_id).email if @company.contactinfos_id %>
</p>

<p>
  <b>Alternate Email:</b>
  <%= Contactinfo.find(@company.contactinfos_id).alternate_email if @company.contactinfos_id %>
</p>

<p>
  <b>Contact Number:</b>
  <%= Contactinfo.find(@company.contactinfos_id).contact_number if @company.contactinfos_id %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
