<!DOCTYPE html>
<html>
<html>
<head>
  <title>JobPortal</title>
  
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"%>
   <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>


</head>
<body>
	
	<table>
  <tr>
    <td><a href="/candidates">Candidates</a>&nbsp;|&nbsp;</td>
    <td><a href="/companies">Companies</a>&nbsp;|&nbsp;</td>
    <td><a href="/positions">Positions</a>&nbsp;|&nbsp;</td>
  </tr>
</table>

	
<% flash.each do |name, msg| %>
    <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash"
%>
<% end %>
<%= yield %>



  



  
  



</body>
</html>
