<!DOCTYPE html>
<html>
<html>
<head>
  <title>JobPortal</title>
  
   <%= csrf_meta_tag %>  
   <%= javascript_include_tag 'jquery' %>
   <%= javascript_include_tag 'jquery.min.js', 'jquery_ujs' %>
   <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>  
   <%= stylesheet_link_tag "job_portal" %>  
   <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"%>  
   <%= stylesheet_link_tag "job_portal" %> 
   <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="user_navigation">
    <% if user_signed_in? %>  
      Signed in as <%= current_user.email %>. Not you?  
      <%= link_to "Sign out", destroy_user_session_path %>  
    <% else %>  
      <%= link_to "New Candidate?", new_user_registration_path(:user_type => "Candidate") %> |
      <%= link_to "New Company?", new_user_registration_path(:user_type => "Company") %> |
      <%= link_to "New Agency?", new_user_registration_path(:user_type => "Agency") %><br clear="all" />
      <%= link_to "Sign in", new_user_session_path %>  
    <% end %> 
  </div>
  <!--><table class="menu">
    <tr>
      <td><a href="/candidates">Candidates</a>&nbsp;|&nbsp;</td>
      <td><a href="/companies">Companies</a>&nbsp;|&nbsp;</td>
      <td><a href="/positions">Positions</a>&nbsp;|&nbsp;</td>
    </tr>
  </table>-->
	
  <% flash.each do |name, msg| %>
    <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
  <% end %>
<%= yield %>
</body>
</html>
